<h1><%= @word.word() %></h1>

<ul class="list-group">
  <% @word.definitions().each() do |definition| %>
  <li class="list-group-item"><%= definition.definition() %></li>
  <% end %>
</ul>

<a href="/words/<%= @word.id%>/definitions/new"><button type="button" class="btn btn-primary">Add a Definition</button></a>
<a href="/"><button type="button" class="btn btn-default">Home</button></a>
