body {
  /*margin-top: 50px;*/
}

.jumbotron {
  background-image: url(library.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: -25px;
}

.jumbotron h1 {
  color: #e5e5e5;
  font-size: 5em;
}

.jumbotron p {
  font-size: 2em;
  color: #e5e5e5;
  width: 750px;
  margin-left: 23%;
}
